<script id="DOWTemplate_Small" type="text/x-handlebars-template">
    <div class="content">
        <header>
            <div class="Left">DOW</div>
            <div class="MarketQuoteLast Right">{{DOW.Last}}</div>
        </header>
        <section>
            <div class="MarketQuoteDetails">    
                <div>    
                    {{> DOWTemplate_Partial}}
                </div>
            </div>
        </section>
    </div>
</script>

<script id="DOWTemplate_Medium" type="text/x-handlebars-template">
    <div class="content">
        <header>
            <div class="Left">DOW</div>
            <div class="MarketQuoteLast Right">{{DOW.Last}}</div>
        </header>
        <section>
            <div class="MarketQuoteDetails">    
                <div>    
                    {{> DOWTemplate_Partial}}                
                </div>
            </div>
            <div id="DOWCanvas" class="canvas"></div>
        </section>
    </div>
</script>

<script id="DOWTemplate_Large" type="text/x-handlebars-template">
    <div class="content">
        <header>
            <div class="Left">DOW</div>
            <div class="MarketQuoteLast Right">{{DOW.Last}}</div>
        </header>
        <section>
            <div class="MarketQuoteDetails">    
                <div>    
                    {{> DOWTemplate_Partial}}
                </div>
            </div>
            <div id="DOWCanvas" class="canvas"></div>
        </section>
    </div>
</script>

<script id="DOWTemplate_Partial" type="text/x-handlebars-template">
    <span class="MarketQuoteChange {{getChangeCSSClass DOW.Change}}">{{addPlus DOW.Change}}{{DOW.Change}}</span>&nbsp;&nbsp;
    <span class="MarketQuotePercentChange {{getChangeCSSClass DOW.PercentChange}}">{{DOW.PercentChange}}%</span>
</script>

