<script id="QuoteDataTemplate_Small" type="text/x-handlebars-template">
    {{Last}}
</script>

<script id="QuoteDataTemplate_Medium" type="text/x-handlebars-template">
    <div id="QuoteDiv">
        <span id="QuoteCompany">{{Company}}</span><br />
        <span id="QuoteLast">{{Last}}</span>&nbsp;
        <span id="QuoteChange" class="{{getChangeCSSClass Change}}">{{Change}}</span>&nbsp;
        <span id="QuotePercentChange" class="{{getChangeCSSClass PercentChange}}">{{PercentChange}}%</span>
    </div>
    <div id="QuoteDetailsDiv">
        <table style="font-size:8pt;">
            <tr>
                <td style="width:16%" class="Bold">Open</td>
                <td style="width:16%" class="Bold">Day Low</td>
                <td style="width:16%" class="Bold">Day High</td>
            </tr>
            <tr>
                <td style="width:16%" class="Currency">{{Open}}</td>
                <td style="width:16%" class="Currency">{{DayLow}}</td>
                <td style="width:16%" class="Currency">{{DayHigh}}</td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
</script>

<script id="QuoteDataTemplate_Large" type="text/x-handlebars-template">
    <div style="float:left;width:40%;">
        <div id="QuoteDiv">
            <span id="QuoteCompany">{{Company}}</span><br />
            <span id="QuoteLast">{{Last}}</span>&nbsp;
            <span id="QuoteChange" class="{{getChangeCSSClass Change}}">{{Change}}</span>&nbsp;
            <span id="QuotePercentChange" class="{{getChangeCSSClass PercentChange}}">{{PercentChange}}%</span>
        </div>
    </div>
    <div style="float:right;width:60%;">
        <table style="font-size:8pt;margin-top:17px;">
            <tr>
                <td style="width:12%" class="Bold" nowrap="true">Open</td>
                <td style="width:12%" class="Currency" nowrap="true">{{Open}}</td>
                <td style="width:18%" class="Bold" nowrap="true">Day Low</td>
                <td style="width:18%" class="Currency" nowrap="true">{{DayLow}}</td>
                <td style="width:16%" class="Bold" nowrap="true">Day High</td>
                <td style="width:24%" class="Currency" nowrap="true">{{DayHigh}}</td>
            </tr>
            <tr>
                <td class="Bold" nowrap="true">Dividend</td>
                <td class="Currency" nowrap="true">{{Dividend}}</td>
                <td class="Bold" nowrap="true">Market Cap</td>
                <td class="Currency" nowrap="true">{{MarketCap}}</td>
                <td class="Bold" nowrap="true">Volume</td>
                <td class="Currency" nowrap="true">{{Volume}}</td>
            </tr>
        </table>
    </div>
    <div style="clear:both"></div>
</script>
